node_modules/
.env
.DS_Store
dist/
coverage/

# Inputs and Outputs (keep folders but ignore content)
outputs/*
!outputs/.gitkeep
archive/*
!archive/.gitkeep
inputs/*
!inputs/.gitkeep
local_inputs/*
!local_inputs/.gitkeep

# Internal processing folders
processing/
errors/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
